<MudContainer Class="mt-16 px-8" MaxWidth="MaxWidth.False">
     <MudGrid Stye="margin: 10px;">
        <MudItem xs="12" sm="12" md="12">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 75px;">
                <MudMenu TransformOrigin="Origin.TopLeft" Origin="Origin.BottomLeft" Label="Education Management">
                    <MudMenuItem>Lessons</MudMenuItem>
                    <MudMenuItem>Old Exams</MudMenuItem>
                    <MudMenuItem>Tp / Tds</MudMenuItem>
                </MudMenu>
                <MudMenu Label="Time Management" Dense="true">
                    <MudMenuItem>Timetable</MudMenuItem>
                    <MudMenuItem>TimeLine</MudMenuItem>
                    <MudMenuItem>Upcoming Events</MudMenuItem>
                </MudMenu>
                <MudMenu Label="Additonal Details" Dense="true">
                    <MudMenuItem>Send Requests</MudMenuItem>
                    <MudMenuItem>Get Reports</MudMenuItem>
                </MudMenu>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="0" Class="pa-4" Style="height: 200px;">
                <GenericCard Title="Number Of Assignments:" Subtitle="" >
                    <MudTypography variant="h5" className="mt-4">
                        @(new Random().Next(100,1000))
                    </MudTypography>
                </GenericCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6" md="4">
            <MudPaper Elevation="0" Class="pa-4" Style="height: 200px;">
                <GenericCard Title="Number Of Assignment Done:" Subtitle="" >
                    <MudTypography variant="h5" className="mt-4">
                        @(new Random().Next(100, 1000))
                    </MudTypography>
                </GenericCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="12" md="4">
            <MudPaper Elevation="0" Class="pa-4" Style="height: 200px;">
                <GenericCard Title="Number Of Pending Assignments:" Subtitle="" >
                    <MudTypography variant="h5" className="mt-4">
                        @(new Random().Next(50, 1000))
                    </MudTypography>
                </GenericCard>
            </MudPaper>
        </MudItem>
        <MudItem xs="12" sm="6">
             <MudGrid Stye="margin: 10px;">
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 300px;">
                        <GenericCard Title="Courses Of Today:" Subtitle="" >
                            <MudCarousel ItemsSource="@_source1" Style="height:120px;">
                                <ItemTemplate>
                                    <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                        <MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                                        <MudText Align="@Align.Center" Class="mx-auto">@context</MudText>
                                    </div>
                                </ItemTemplate>
                            </MudCarousel>
                        </GenericCard>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="2" Class="pa-4" Style="height: 300px;">
                        <GenericCard Title="Assignments due Today" Subtitle="" >
                            <MudCarousel ItemsSource="@_source2" Style="height:120px;">
                                <ItemTemplate>
                                    <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                        <MudIcon Class="mx-auto" Icon="@Icons.Custom.Brands.MudBlazor" Size="@Size.Large" />
                                        <MudText Align="@Align.Center" Class="mx-auto">@context</MudText>
                                    </div>
                                </ItemTemplate>
                            </MudCarousel>
                        </GenericCard>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="12" sm="6">
            <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                <GenericCard Title="Preparation Progress :" Subtitle="" >
                    <MudPaper Class="pa-4">
                        <MudChart ChartType="ChartType.Pie" InputData="@data" InputLabels="@labels" Width="300px" Height="300px" />
                    </MudPaper>
                </GenericCard>
            </MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private static Random rng = new Random();
    private List<string> _source1 {get; set; }
        = new List<string>() { "UML", "OOP", "JAVA", "LDAP", "JEE", "PHP", "JS", "Web", "AI" }
                .OrderBy(a => rng.Next())
                .Take(3).ToList();
    
    private List<string> _source2 {get; set; }
        = new List<string>() { "GI1", "GI2", "GI3", "CP2", "CP1", "GM1", "GM2", "GM3", "GSTR" }
                .OrderBy(a => rng.Next())
                .Take(2).ToList();

    double[] data = { 90, 10 };
    string[] labels = { "NotCompleted", "Completed" };
    
}