<EditForm Model="@item" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group ">
        <div>
            <label>Label :</label>
            <div>
                <InputText @bind-Value="@item.Label" />
                <ValidationMessage For="@(() => item.Label)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Category :</label>
            <div>
                <InputNumber @bind-Value="@item.Category" />
                <ValidationMessage For="@(() => item.Category)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Family :</label>
            <div>
                <InputNumber @bind-Value="@item.Family" />
                <ValidationMessage For="@(() => item.Family)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Prix :</label>
            <div>
                <InputNumber @bind-Value="@item.Price" />
                <ValidationMessage For="@(() => item.Price)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Taux :</label>
            <div>
                <InputNumber @bind-Value="@item.Tax" />
                <ValidationMessage For="@(() => item.Tax)" />
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Catalogue item { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}